
/* ******** MOBILE FIRST ******** */



/* CSS Footer */

footer {
	background-color: black;
	bottom: 0;
	color: #f9f5ee;
	font-family: "Cormorant Garamond", serif;
	height: 50vh;
	position: relative;
	width: 100%;
}

.footer {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

.poste,
.reseau,
.phone {
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.icones {
	display: flex;
	flex-direction: row;
	gap: 4vw;
	justify-content: space-between;
	margin-bottom: 2rem;
	margin-top: 1rem;
}

.picto {
	width: 8vw;
}

h5 {
	font-size: 1rem;
	font-weight: 400;
	margin: 0!important;
}

.adresse {
	font-size: 1rem;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

.num {
	color: #f9f5ee;
	font-family: "Open Sans";
	font-size: 1.2rem;
	margin-top: 1rem;
	text-decoration: none;
}

.copyright {
	font-size: 1.2rem;
	font-weight: 600;
	margin-top: 2.5rem;
}

.l_or {
	color: #c29f3b;
	font-weight: 900;
}

.h_brique {
	color: #943939;
	font-weight: 900;
}


/* -- Media Queries -- */

/* ---------- TABLETTES ---------- */
@media (min-width: 768px) {
	footer {
		height: 15rem;
		padding: 1.5rem;
	}

	.footer {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}

	.picto {
		width: 5vw;
	}

	.copyright {
		margin-top: 1rem;
	}
}



/* ---------- DESKTOP ---------- */
@media (min-width: 1024px) {
	.adresse {
		font-size: 1.2rem;
	}

	.icones {
		gap: 2vw;
		margin-top: 1.5rem;
	}
	.picto {
		width: 2.5rem;
	}
}



/* ---------- GRANDS ÉCRANS ---------- */
@media (min-width: 1440px) {}
