/* --- CSS Page Accueil --- */

/* -- CSS Général -- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hostal {
	margin-top: 0!important;
	min-height: 100%;
	padding: 0;
    position: relative;
}

body {
	background-color: #f9f5ee;
}


/* -- CSS du main -- */

/* - Bandeau images - */

.first_bloc {
	background-color: #f9f5ee;
	color: #f9f5ee;
	font-family: "Cormorant Garamond", serif;
 	height: 85vh;
	width: 100%;

}

h6,
h5,
div.band_horaires > p,
div.band_terrasse > p,
div.band_grill > p {
	font-weight: bolder;
}

h6 {
	font-size: 1.3rem;
}

div.band_horaires > p,
div.band_terrasse > p,
div.band_grill > p {
	font-size: 1.3rem;
}

.asterisque {
	color: #c29f3b;
	font-weight: bolder;
}

.bloc_img {
	display: flex;
	flex-direction: row;
	gap: 0.8rem;
	height: 30vh;
	justify-content: space-between;
}
	
.band_horaires,
.band_terrasse,
.band_grill {
	align-items: center;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	color: #f9f5ee;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 0.8rem;
	justify-content: center;
	margin-top: 1vh;
	margin-bottom: 1vh;
	overflow: hidden;
	position: relative;
	padding: 1rem;
	text-align: center;
	z-index: 0;
}
	
.band_horaires {
	background-image: url('../img/terrasse-enseigne.jpeg');
	margin-left: 1%;
}

.band_terrasse {
	background-image: url('../img/table_pierre.jpg');
}

.band_grill {
	background-image: url('../img/grill.jpg');
	margin-right: 1%;
}

.band_horaires .overlay_1,
.band_terrasse .overlay_1,
.band_grill .overlay_1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.band_horaires > *:not(.overlay_1),
.band_terrasse > *:not(.overlay_1),
.band_grill > *:not(.overlay_1) {
	position: relative;
	z-index: 2;
}

/* - Présentation - */

.separateur_or {
	height: 3vh;
	margin-top: 2vh;
	width: 15vw;
}

.presentation {
	display: flex;
	flex-direction: column;
	align-items: center;
}

div.presen_txt > h3 {
	font-size: 2rem;
	font-weight: bolder;
}

/* Animations scroll */

.animation {
	align-items: center;
	display: flex;
	flex-direction: row;
	gap: 2rem;
	justify-content: space-between;
	margin-left: 2rem;
	padding: 3rem 5%;
}

.presen_txt,
.presen_img {
	flex: 1;
}

.presen_txt {
	text-align: center;
}

div.presen_txt > p {
	font-size: 1.2rem;
	font-weight: bold;
}

div.presen_txt > h6 {
	margin-bottom: 0;
}

.presen_img {
	align-items: center;
	display: flex;
	justify-content: center;
}

.presen_img img {
	border-radius: 8px;
	height: auto;
	margin-top: 2vh;
	max-width: 60%;
}

.separateur_noir {
	height: 2vh;
	margin: 5% 0;
	width: 8vw;
}

/* - Bandeau grill - */

.bandeau_1 {
	background-image: url('../img/grill_cut_lg.jpg');
}

.bandeau_1,
.bandeau_2 {
	height: 35vh; /* ajuste à ton besoin visuel */
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/* - Bloc Menu - */

.bloc_menu {
	align-items: center;
	background-color: #f9f5ee;
	display: flex;
	flex-direction: column;
	font-family: "Cormorant Garamond", serif;
/* 	height: 150vh;*/	
/* 	margin-top: 35vh;
 */	text-align: center;
	width: 100%;
}

div.titre > p {
	font-size: 1.2rem;
	font-weight: bold;
}

div.titre > h3 {
	font-size: 1.8rem!important;
	font-weight: bolder;
	margin-bottom: 1.5vh;
}

