
/* ******** MOBILE FIRST ******** */


/* --- CSS Page Accueil --- */

/* -- CSS Général -- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#hostal {
	margin-top: 0!important;
	height: 100%;
	padding: 0;
    position: relative;
}

body {
	background-color: #f9f5ee;
	height: 100%;
}


/* -- CSS du main -- */

/* - Bandeau images - */

.first_bloc {
	background-color: #f9f5ee;
	color: #f9f5ee;
	font-family: "Cormorant Garamond", serif;
 	height: 320vh;
	width: 100%;
}

h6,
h5,
div.band_horaires > p,
div.band_terrasse > p,
div.band_grill > p {
	font-weight: bolder;
}

h6 {
	font-size: 1.3rem;
}

div.band_horaires > p,
div.band_terrasse > p,
div.band_grill > p {
	font-size: 1.3rem;
}

.asterisque {
	color: #c29f3b;
	font-weight: bolder;
}

.bloc_img {
	display: flex;
	flex-direction: column;
	height: 84.5vh;
	gap: 0.3rem;
	justify-content: space-between;
	margin: auto;
	margin-top: 1%;
	width: 98%;
}
	
.band_horaires,
.band_terrasse,
.band_grill {
	align-items: center;
	background-size: cover;
	background-position: center;
	border-radius: 4px;
	color: #f9f5ee;
	display: flex;
	flex: 1;
	flex-direction: column;
	gap: 0.8rem;
	justify-content: center;
	overflow: hidden;
	position: relative;
	padding: 2rem;
	text-align: center;
	width: 100%;
	z-index: 0;
}

.band_horaires {
	background-image: url('../img/terrasse-enseigne.jpeg');
}

.band_terrasse {
	background-image: url('../img/table_pierre.jpg');
}

.band_grill {
	background-image: url('../img/grill.jpg');
}

.band_horaires .overlay_1,
.band_terrasse .overlay_1,
.band_grill .overlay_1 {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.band_horaires > *:not(.overlay_1),
.band_terrasse > *:not(.overlay_1),
.band_grill > *:not(.overlay_1) {
	position: relative;
	z-index: 2;
}

/* - Présentation - */

.presentation {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: auto;
}

.animation {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: space-between;
	margin: auto;
	padding: 1rem 5%;
	width: 90%;
}

.presen_txt,
.presen_img {
	flex: 1;
}

.presen_txt {
	text-align: center;
}

div.presen_txt > h3 {
	font-size: 1.5rem;
	font-weight: bolder;
}

div.presen_txt > p {
	font-size: 1rem;
	font-weight: bold;
}

div.presen_txt > h6 {
	margin-bottom: 0;
}

.presen_img {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 1rem;
}

.presen_img img {
	border-radius: 8px;
	height: auto;
	max-width: 70%;
}

.separateur_noir {
	height: 2vh;
	margin: 3% 0;
	margin-bottom: 6%;
	width: 25vw;
}

/* - Bandeau grill - */

.bandeau_1 {
	background-image: url('../img/grill_cut.jpg');
}

.bandeau_2 {
	background-image: url('../img/cheminée.jpg');
}

.bandeau_1,
.bandeau_2 {
	height: 25vh; /* ajuste à ton besoin visuel */
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

/* - Bloc Menu - */

.bloc_menu {
	align-items: center;
	background-color: #f9f5ee;
	display: flex;
	flex-direction: column;
	font-family: "Cormorant Garamond", serif;
	margin: auto;
	padding: 2vh 0;
	text-align: center;
	width: 90%;
}

div.titre > h3 {
	font-size: 1.5rem!important;
	font-weight: bolder;
	margin-bottom: 1.5vh;
}

div.titre > p {
	font-size: 1rem;
	font-weight: bold;
}

.titre .separateur_noir {
	margin: 3% 0;
}

.cartes .nav-item a {
	color: #000;
	margin-top: 0;
}

/* - Bloc Groupes - */

.bloc_groupes {
	align-items: center;
	background-color: #f9f5ee;
	display: flex;
	flex-direction: column;
	font-family: "Cormorant Garamond", serif;
}

#salle img {
	margin-top: 2vh;
	max-width: 60%!important;
}

#pensez {
	color: #000;
	font-size: 1.5rem;
	font-weight: bolder;
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

a.groupes_tel,
a.groupes_mail {
	border: 3px solid #c29f3b;
	border-radius: 4px;
	color: black;
	height: 5vh;
	margin-top: 1vh;
	min-width: 140px;
	padding: 4.5px;
	text-align: center;
	text-decoration: none;
	width: auto;
}

a.groupes_tel {
	font-family: "Open Sans";
	font-size: 1.20rem;
	font-weight: 300;
}

a.groupes_mail {
	font-family: "Cormorant Garamond", serif;
	font-size: 1.2rem;
	font-weight: 600;
}

/* -- Media Queries -- */

/* ---------- TABLETTES ---------- */
@media (min-width: 768px) {

	.first_bloc {
		height: 223rem;
	}

	/* - Bandeau images - */
	.bloc_img {
		gap: 0.5rem;
		height: 70rem;
	}

	.band_horaires h5,
	.band_terrasse h6,
	.band_grill h6 {
		font-size: 1.8rem;
	}

	div.band_horaires > p,
	div.band_terrasse > p,
	div.band_grill > p {
	font-size: 1.55rem;
	}

	/* - Présentation - */
	div.presen_txt > h3 {
		font-size: 2rem;
	}
	
	div.presen_txt > p {
		font-size: 1.3rem;
	}	

	.presen_img img {
		height: auto;
		max-width: 50%;
	}	

	/* - Bloc Menu - */
	.bloc_menu {
		width: 80%;
	}

	div.titre > h3 {
		font-size: 2rem!important;
	}

	div.titre > p {
		font-size: 1.3rem;
	}

	.cartes .nav-item a:hover {
		color: #c29f3b;
	}
	
	
	/* - Bloc Groupes - */
	.bloc_groupes .presentation .animation {
		width: 80%;
	}

	#salle img {
		max-width: 40%!important;
	}

	a.groupes_tel,
	a.groupes_mail {
		padding: 8.5px;
	}

	a.groupes_tel:hover,
	a.groupes_mail:hover {
		color: #c29f3b;
	}	
}



/* ---------- DESKTOP ---------- */
@media (min-width: 1024px) {

	.first_bloc {
		height: 165rem;
	}
	/* - Bandeau images - */
	.bloc_img {
		display: flex;
		flex-direction: row;
 		height: 15rem;
		margin: 0.5%;
	}

	.band_horaires h5,
	.band_terrasse h6,
	.band_grill h6 {
		font-size: 1.2rem;
	}

	div.band_horaires > p,
	div.band_terrasse > p,
	div.band_grill > p {
	font-size: 1.1rem;
	}

	/* - Présentation - */
	div.presen_txt > h3 {
		font-size: 1.8rem;
	}

	div.presen_txt > p {
		font-size: 1.2rem;
	}

	/* - Bloc Menu - */
	div.titre > h3 {
		font-size: 1.8rem!important;
	}
	
	div.titre > p {
		font-size: 1.2rem;
	}
	
}


/* ---------- GRANDS ÉCRANS ---------- */
@media (min-width: 1440px) {
	/* Présentation */
	.separateur_noir {
		margin: 2% 0;
		margin-bottom: 4%;
		width: 15vw;
	}	
}
