
/* ******** MOBILE FIRST ******** */


/* En-tête avec image de fond */
.header {
    position: relative;
    height: 65vh;
    background-image: url('../img/background-header.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* Voile sombre */
.header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

/* Contenu centré */
.logo-cont {
    align-items: center;
    color: #f9f5ee;
    display: flex;
    flex-direction: column;
    font-family: "Cormorant Garamond", serif;
    gap: 15px;
	padding: 1rem;
    position: relative;
	text-align: center;
    z-index: 2;
}

/* Contenu header */
.nom {
    height: 100px;
	max-width: 80vw;
	object-fit: contain;
}

.logo-cont h3,
.logo-cont a.tel {
	color: #f9f5ee;
    text-decoration: none;
}

h3 {
	font-size: 1.2rem;
	font-weight: 700;
	margin: 0.5rem 0;
}

.separateur {
	margin: 1.3vh 0;
	width: 30vw;
}

.tel {
	font-family: "Open Sans";
	font-size: 1.2rem;
	font-weight: 300;
	margin: 0.8rem 0;
}

/* Bouton Menus */

.nav-item a {
	border: 2px solid #C29F3B;
	border-radius: 4px;
	color: #f9f5ee;
	font-family: "Cormorant Garamond", serif;
	font-size: 1rem;
	font-weight: 700;
	margin-top: 1.5rem;
	width: 20vw;
}


/* -- Media Queries -- */

/* ---------- TABLETTES ---------- */
@media (min-width: 768px) {
	.header {
	  height: 60vh;
	}

	.separateur {
	  width: 20vw;
	}
  
	.nom {
	  max-width: 50vw;
	  height: 140px;
	}
  
	h3 {
	  font-size: 1.5rem;
	}
    
	.tel {
	  font-size: 1.4rem;
	}
  
	.nav-item a {
	  font-size: 1.1rem;
	  width: 160px;
	}

	.nav-item a:hover {
		color: #C29F3B;
	}	
  }
  
  
  /* ---------- DESKTOP ---------- */
  @media (min-width: 1024px) {
	.header {
	  height: 33rem;
	}
  
	.nom {
	  max-width: 16rem;
	  height: 160px;
	}
  
	h3 {
	  font-size: 1.8rem;
	}
  
	.separateur {
	  width: 15vw;
	}
  
	.tel {
	  font-size: 1.5rem;
	}
  
	.nav-item a {
	  font-size: 1.2rem;
	  width: 180px;
	}

	.nav-item a:hover {
		color: #C29F3B;
	}	
  }
  
  
  /* ---------- GRANDS ÉCRANS ---------- */
  @media (min-width: 1440px) {
	.separateur {
		width: 12vw;
	}  

	.header {
	  height: 65vh;
	}
  
	.nom {
	  height: 180px;
	}
  
	h3 {
	  font-size: 1.6rem;
	}
  
	.tel {
	  font-size: 1.6rem;
	}

	.nav-item a:hover {
		color: #C29F3B;
	}	
  }
  

