/* -- CSS de la page Menus -- */

.menus_main {
	background-color: #f9f5ee;
	margin: auto;
	width: 80%;
}

img#la_carte {
    display: block;
	height: auto;
	image-rendering: auto;
    margin: 2rem auto;
    max-width: 90% !important;
}

.menus_titre {
	align-items: center;
	background-color: #f9f5ee;
	display: flex;
	flex-direction: column;
	font-family: "Cormorant Garamond", serif;
	margin-top: 4vh;
	text-align: center;
	width: 100%;
}

div.menus_titre > p {
	font-size: 1.2rem;
	font-weight: bold;
}

div.menus_titre > h3 {
	font-size: 1.8rem!important;
	font-weight: bolder;
	margin-bottom: 1.5vh;
}

.separateur_menus_noir {
	height: 2vh;
	margin: 1% 0;
	width: 8vw;
}


