/* -- CSS de la page Menus -- */

main.menus_main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 2rem auto;
}

.menus_titre {
	align-items: center;
	background-color: #f9f5ee;
	display: flex;
	flex-direction: column;
	font-family: "Cormorant Garamond", serif;
	text-align: center;
	width: 100%;
}

div.menus_titre > p {
	font-size: 1.2rem;
	font-weight: bold;
}

div.menus_titre > h3 {
	font-size: 1.8rem!important;
	font-weight: bolder;
	margin-bottom: 1.5vh;
}


