
/* ******** MOBILE FIRST ******** */



/* -- CSS de la page Menus -- */

.menus_main {
	background-color: #f9f5ee;
	margin: auto;
	width: 100%;
}

.menus_titre {
	align-items: center;
	background-color: #f9f5ee;
	display: flex;
	flex-direction: column;
	font-family: "Cormorant Garamond", serif;
	margin-top: 4vh;
	text-align: center;
	width: 100%;
}

div.menus_titre > h3 {
	font-size: 1.4rem!important;
	font-weight: bolder;
	margin-bottom: 1.5vh;
}

div.menus_titre > p {
	font-size: 1rem;
	font-weight: bold;
}


/* -- Media Queries -- */

/* ---------- TABLETTES ---------- */
@media (min-width: 768px) {
	.menus_main {
		margin: auto;
		width: 90%;
	}

	.separateur {
		width: 20vw;
	}  
}



/* ---------- DESKTOP ---------- */
@media (min-width: 1024px) {
	div.menus_titre > h3 {
		font-size: 1.8rem!important;
	}

	.separateur {
		width: 15vw;
	}  
	
	div.menus_titre > p {
		font-size: 1.45rem;
	}
}



/* ---------- GRANDS ÉCRANS ---------- */
@media (min-width: 1440px) {
	div.menus_titre h3 {
		font-size: 1.8rem!important;
	}

	div.menus_titre p {
		font-size: 1.1rem;
	}

	.menus_main {
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: auto;
		width: 75%;
	}

	.separateur {
		width: 12vw;
	}  
}
